<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<!--<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>-->
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
    <span><a href="/user">Список пользователей</a> </span>
</div>
<div>
    <form method="post">
        <label>
            <input type="text" name="text" placeholder="Введите сообщение"/>
        </label>
        <label>
            <input type="text" name="tag" placeholder="Тэг"/>
        </label>
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="get" action="/main">
    <label>
        <input type="text" name="filter" th:value="${filter}"/>
    </label>
    <button type="submit">Найти</button>
</form>
<div th:each="message : ${messages}">
    <b th:text="${message.getId()}"></b>
    <span th:text="${message.getText()}"></span>
    <i th:text="${message.getTag()}"></i>
    <strong th:text="${message.authorName}"></strong>
</div>
</body>
</html>