<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">
<th:block layout:fragment="content">
  <div th:text="${message} ? 'Вы подтвердили регистрацию, спасибо!' : 'Код активации не найден!'">
  </div>
  <form th:action="@{/registration}" method="post">
    <div th:insert="~{fragments/login}"></div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"> Email: </label>
      <div class="col-sm-6">
        <input type="email" name="email" class="form-control-plaintext" placeholder="Email"/>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
  </form>
</th:block>
</html>