<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>User Editor</title>
</head>
<body>
Редактор пользователей
<form action="/user" method="post">
    <label>
        <input type="text" name="userName" th:value="${user.getUsername()}">
        <input type="text" name="userId" th:value="${user.getId()}">
    </label>
    <div th:each="role : ${roles}">
        <label>
            <input th:type="checkbox" th:text="${role.name()}" th:checked="${user.getRoles().contains(role)} ? 'checked'">
        </label>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>